html, body {
    background-image: linear-gradient(
            rgba(13, 13, 40, 0.4),
            rgba(13, 13, 40, 0.5)),
            url(
            "https://cards.scryfall.io/art_crop/front/3/a/3a836e6b-6854-4f6f-bc78-2da1fd4dd224.jpg?1675956948");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    background-color: hsla(237, 37%, 20%, 0.5);
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas, serif;
    font-size: 12px;
    height: 200px;
}