html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
    /*background-image: linear-gradient(*/
    /*        rgba(13, 13, 40, 0.4),*/
    /*        rgba(13, 13, 40, 0.5)),*/
    /*        url(*/
    /*        "https://cards.scryfall.io/art_crop/???");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*color: gainsboro;*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 12px;
    height: 150px;
}